.sd{
  background-color: blue
}
#header{
  background-color: white;
  border-bottom: 2px solid #e6ecf0;
}
#title{
  color: #14171a;
}
.btn-man-blue{
  color: white;
  border: 1px solid #1da1f2;
  font-weight: bold;
  background-color: #1da1f2;
  border-radius: 5px
}
.btn-man-blue:hover{
  color: white;
  background-color:  #1a91da;
  border: 1px solid  #1a91da;
  border-radius: 5px;
}
.btn-man-white{
  color: #1a91da;
  border: 1px solid #1da1f2;
  font-weight: bold;
  background-color: white;
  border-radius: 5px
}
.btn-man-white:hover{
  color: #1a91da;
  background-color:  #eaf6fe;
  border: 1px solid  #1a91da;
  border-radius: 5px;
}
.input-btn{
  background-color: #f5f8fa;
  border: 1px solid #1da1f2;
  border-radius: 5px
}
.input-btn:hover{
  background-color: white;
}
.input-boxes{
  background-color: #f5f8fa;
  border: 1px solid #1da1f2;
}
.input-boxes:focus{
  background-color: white;
  border: 1px solid #1da1f2;
}
.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.categories{
  text-decoration: none;
  color: #778794;
  margin-left: 15px;
}
.categories:hover{
  text-decoration: none;
  color: #1a91da;
}
.vertical-navbar{
  background-color: white;
  border-right: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}
#category{
  font-size: 17px;
  color: #778794;
}
#category:hover{
  cursor:default;
}
#price{
  text-decoration: none;
  font-size: 17px;
  color: #778794;
}
#price:hover{
  cursor:pointer;
  text-decoration: none;
  color: #1a91da;
}
.profile-btn{
  border: 1px solid #778794;
  border-radius: 50%;
}
.profile-btn:hover{
  background-color: #e6ecf0;
}
